.theme-container {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 30px;
  text-align: center;
}

.large-avatar {
  width: 150px;
  height: 150px;
  border: 4px solid #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.services-grid {
  margin-bottom: 10px;
}

.service-card {
  background-color: #fae5e5;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
}

.service-card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.service-description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.social-networks {
  text-align: center;
}

.social-networks h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-icon {
  font-size: 24px;
  margin: 0 15px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.social-icon {
  animation: float 3s ease-in-out infinite;
}

@media (max-width: 768px) {
  .large-avatar {
    width: 120px;
    height: 120px;
  }

  .profile-info h2 {
    font-size: 20px;
  }

  .bio {
    font-size: 14px;
  }

  .service-card h3 {
    font-size: 16px;
  }

  .service-description {
    font-size: 13px;
  }

  .social-icon {
    font-size: 20px;
    margin: 0 10px;
  }
}
