<ion-content class="ion-padding" fullscreen>
  <div class="login-container">
    <div class="logo-container">
      <img
        src="https://placehold.co/120x120"
        alt="E-Profile Logo"
        class="logo"
      />
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <ion-text color="primary">Connexion à E-Profile</ion-text>
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Accédez à votre profil professionnel
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm">
          <ion-item lines="full">
            <ion-input
              label="Email mail:"
              position="floating"
              type="email"
              required
              formControlName="email"
              placeholder="marcalex@gmail.com"
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-input
              label="Mot de passe:"
              position="floating"
              type="password"
              required
              placeholder="*******"
              formControlName="password"
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            (click)="onLogin()"
            [disabled]="loginForm.invalid"
            class="ion-margin-top ion-margin-bottom"
          >
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            Se connecter
          </ion-button>
          <ion-spinner *ngIf="isLoading"></ion-spinner>
        </form>

        <div class="forgot-password ion-text-center">
          <a routerLink="/forgot-password">Mot de passe oublié ?</a>
        </div>

        <div class="signup-link ion-text-center ion-margin-top">
          <p>
            Pas encore de compte ?
            <a routerLink="/register">Inscrivez-vous ici</a>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
