<ion-content class="ion-padding" fullscreen>
  <div class="signup-container">
    <div class="logo-container">
      <img
        src="https://placehold.co/120x120"
        alt="E-Profile Logo"
        class="logo"
      />
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <ion-text color="primary">Bienvenue sur E-Profile</ion-text>
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Créez votre profil professionnel en quelques étapes
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="ion-padding">
        <form [formGroup]="registerForm">
          <ion-item lines="full">
            <ion-input
              formControlName="nom"
              label="Nom:"
              position="floating"
              type="text"
              required
              placeholder="OUEDRAOGO"
            ></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-input
              label="Prénom(s):"
              position="floating"
              type="text"
              required
              formControlName="prenom"
              placeholder="Marc Alex"
            ></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-input
              label="Email:"
              position="floating"
              type="email"
              required
              formControlName="email"
              placeholder="marcalex@gmail.com"
            ></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-input
              formControlName="password"
              label="Mot de passe"
              label-placement="floating"
              type="password"
              placeholder="*******"
            >
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-input
              label="Confirmer le mot de passe"
              formControlName="password"
              label-placement="floating"
              type="password"
              required
              formControlName="password_confirmation"
              placeholder="*******"
              ><ion-input-password-toggle
                slot="end"
              ></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          <ion-button
            expand="block"
            [disabled]="registerForm.invalid"
            (click)="onSubmit()"
            class="ion-margin-top ion-margin-bottom"
          >
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            Créer mon E-Profile
          </ion-button>
          <ion-spinner *ngIf="isLoading"></ion-spinner>
        </form>

        <div class="login-link ion-text-center">
          <p>
            Déjà membre ?
            <a routerLink="/login">Connectez-vous ici</a>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
