<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
      <ion-icon name="logo-facebook" (click)="openLink('https://www.facebook.com')" style="font-size: 40px; cursor: pointer;"></ion-icon>
    </ion-col>
    <ion-col size="auto">
      <ion-icon name="logo-whatsapp" (click)="openLink('https://www.whatsapp.com')" style="font-size: 40px; cursor: pointer;"></ion-icon>
    </ion-col>
    <ion-col size="auto">
      <ion-icon name="logo-instagram" (click)="openLink('https://www.instagram.com')" style="font-size: 40px; cursor: pointer;"></ion-icon>
    </ion-col>
    <ion-col size="auto">
      <ion-icon name="logo-linkedin" (click)="openLink('https://www.linkedin.com')" style="font-size: 40px; cursor: pointer;"></ion-icon>
    </ion-col>
    <ion-col size="auto">
      <ion-icon name="logo-youtube" (click)="openLink('https://www.youtube.com')" style="font-size: 40px; cursor: pointer;"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-row class="ion-justify-content-center">
  <ion-button (click)="addSocialNetwork()">Ajouter un Réseau Social</ion-button>
</ion-row>
