<ion-grid fixed>
  <ion-row class="service" *ngFor="let service of services">
    <ion-col size="12">
      <ion-card class="profile-card" id="popover-button-{{ service.id }}">
        <ion-card-content>
          <p class="profile-description">{{ service.titre }}</p>
        </ion-card-content>
      </ion-card>

      <ion-popover
        trigger="popover-button-{{ service.id }}"
        [dismissOnSelect]="true"
      >
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item
                lines="none"
                [button]="true"
                [detail]="false"
                (click)="editService(+service.id)"
                >Modifier</ion-item
              >
              <ion-item
                lines="none"
                (click)="deleteService(service)"
                [button]="true"
                [detail]="false"
                >Supprimer</ion-item
              >
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-col>
  </ion-row>
</ion-grid>
