<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>E-Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authService.logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="profile-card">
    <div class="profile-header">
      <ion-avatar>
        <img src="https://placehold.co/150x150" alt="Photo de profil" />
      </ion-avatar>
      <h2>{{authService.userInfo?.prenom}} {{authService.userInfo?.nom}}</h2>
    </div>
    <ion-card-content>
      <div class="profile-info">
        <p><ion-icon name="link-outline"></ion-icon> eprofile.com/johndoe</p>
        <p><ion-icon name="eye-outline"></ion-icon> 0 visiteurs</p>
        <p>
          <ion-icon name="calendar-outline"></ion-icon> Créé le
          {{authService.userInfo?.created_at}}
        </p>
      </div>
      <ion-button expand="block" color="primary" class="copy-link-btn">
        <ion-icon name="copy-outline" slot="start"></ion-icon>
        Copier le lien
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>Personnalisation avec theme</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="theme-card">
          <div class="card-image-container">
            <img src="https://placehold.co/800x600" alt="Thème Moderne" />
            <ion-badge class="theme-badge" color="success">Gratuit</ion-badge>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="theme-card">
          <div class="card-image-container">
            <img src="https://placehold.co/800x600" alt="Thème Moderne" />
            <ion-badge class="theme-badge" color="success">Gratuit</ion-badge>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="theme-card">
          <div class="card-image-container">
            <img src="https://placehold.co/800x600" alt="Thème Moderne" />
            <ion-badge class="theme-badge" color="success">Gratuit</ion-badge>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="theme-card">
          <div class="card-image-container">
            <img src="https://placehold.co/800x600" alt="Thème Moderne" />
            <ion-badge class="theme-badge" color="success">Gratuit</ion-badge>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      [routerLink]="['/edit-profile']"
      routerLinkActive="router-link-active"
    >
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
