<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 1er component: header-profile  -->
  <div class="profile-header">
    <ion-avatar class="large-avatar">
      <img
        [src]="authService.userInfo?.profile_image ?? 'https://placehold.co/250x250'"
        alt="Photo de profil"
      />
    </ion-avatar>
    <div class="profile-info">
      <h3>{{authService.userInfo?.prenom}} {{authService.userInfo?.nom}}</h3>
      <ion-note (click)="storeBio()"> {{ bioProfile}} </ion-note>
    </div>
  </div>
  <!-- 2eme component : service-config -->
  <ion-grid fixed>
    <ion-row class="service" *ngFor="let service of globalService.services">
      <ion-col size="12">
        <ion-card class="profile-card" id="popover-button-{{ service.id }}">
          <ion-card-content>
            <p class="profile-description">{{ service.titre }}</p>
          </ion-card-content>
        </ion-card>

        <!-- Popover en dehors de l'ion-card -->
        <ion-popover
          trigger="popover-button-{{ service.id }}"
          [dismissOnSelect]="true"
        >
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item
                  id="present-alert"
                  lines="none"
                  [button]="true"
                  [detail]="false"
                  (click)="editService(+service.id)"
                  >Modifier</ion-item
                >
                <ion-item
                  lines="none"
                  (click)="deleteService(service)"
                  [button]="true"
                  [detail]="false"
                  >Supprimer</ion-item
                >
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
      <ion-alert
        header="Services ou Prestations"
        [buttons]="alertButtons"
        [inputs]="alertInputs"
      ></ion-alert>
    </ion-row>

    <ion-row *ngIf="globalService.services.length <4">
      <ion-col size="12">
        <ion-button (click)="addClickService()" expand="block" shape="round">
          <ion-icon name="add"></ion-icon>Ajouter Service
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
