<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-header-profile [bioProfile]="bioProfile"></app-header-profile>

  <app-service-add
    [services]="globalService.services"
    (servicesChanged)="onServicesChanged()"
  ></app-service-add>

  <ion-row *ngIf="globalService.services.length < 4">
    <ion-col size="12">
      <app-service-button-add
        (serviceAdded)="onServicesChanged()"
      ></app-service-button-add>
    </ion-col>
  </ion-row>
  <app-social-grid></app-social-grid>
</ion-content>
